<div class="outer-box">
  <div class="inner-box">
    <h3>Add Question</h3>
    <%= form_with model: [@exam, @question],local: true, method: :post do |form| %>
      <div class="gap">
        <%= form.label :description %><br>
        <%= form.text_area :description,class: "form-control" %>
      </div>
      <div>
        <%= form.label :score %><br>
        <%= form.number_field :score,class: "form-control" %>
      </div>
      <div>
        <%= form.label :base, "Question type:" %><br>
        <select name="question[base]" id="question_base" class="form-control" onChange="question()">
          <option value="MCQ">MCQ</option>
          <option value="text">text</option>
        </select>
      </div>
      <div>
        <%4.times do |i|%>
          <%= form.text_area :opts,id: "option-#{i+1}",class: "form-control my-2",placeholder: "option-#{i+1}", multiple: true,required: true %>
        <%end%>
      </div>
      <div>
        <%= form.text_area :answer,class: "form-control my-3 w-100", placeholder: "Correct Answer (option number only!)", id: "text-answer" %>
      </div>
      <div class=my-3>
        <input type="submit" name="commit" value="Create Question" data-disable-with="Create Question" class="btn btn-primary mb-2">
      </div>
    <%end%>
  </div>
</div>
</div>
