<tr>
  <td><%= exam.subject.title%></td>
  <td><%=exam.exam_code%></td>
  <td><%=exam.start_time%></td>
  <%if current_user.student? && (exam.start_time < DateTime.now && exam.end_time > DateTime.now)%>
    <td><%=link_to "open", path%></td>
  <% elsif current_user.admin? || current_user.teacher?%>
    <td><%=link_to "open", path%></td>
  <%else%>
    <td>inactive</td>
  <%end%>
</tr>
